
venv/
__pycache__/
*.pyc
*.pyo


data/
data_subclass/
raw_images/
resized_images/
Image_net_images/
manually_labelled/
test_random_images/
**/*.jpg
**/*.jpeg
**/*.png
**/*.bmp
**/*.tif
**/*.tiff


*.zip
*.tar
*.tar.gz
*.7z


.DS_Store
.vscode/
.idea/

logs/
logs_40epochs/

plots/
plots_40epochs/ 
graphs_20epochs_3class/ 
main_class_results/ 
main_class_result_100_images/
sub_class_results/ 
sub_class_logs/  
checkpoints/ 
checkpoints_40epochs/ 